p{
    color:red;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 16px; 
    font-weight: bold; 
    font-style: italic; 
    text-align: center; 
    text-align: justify; 
    text-decoration:underline overline line-through ;
    line-height: normal;
    text-transform: none;
    text-shadow: bisque;



}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
}
a{
    text-decoration: none;
}
h2{
    font-family: "minecraft";
    font-weight: 400;
}